@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

body {
  font-family: 'Poppins', sans-serif;

  color: #333;
  font-size: 14px;
  font-weight: 400;
  background: url("../img/hero-area.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  z-index: -10;
}

html {
  overflow-x: hidden;
}
#cardhead{
	background: #ffff;
}

.yoimagen{
	margin-top: -45px;
}